.layer {
	position: absolute;
	width: 100%;
	height: 100%;
}

.commandItem {
	padding: 2px;
	font-size: 14px;
	line-height: 18px;
	height: 18px;
}

.commandType {
	font-size: 12px;
	color: #999;
	float: right;
	margin-right: 8px;
	line-height: 18px;
}

.hover {
	background: #DDD;
}

.wireEnd {
	position: absolute;
	cursor: crosshair;
	border: 4px solid #000;
	border-radius: 4px;
}

.wire {
	position: absolute;
	background: #000;
	height: 4px;
	width: 4px;
	cursor: crosshair;
}

.component {
	position: absolute;
}

.componentHover {
	background: rgba(0, 0, 0, 0.1);
}

.focus {
	outline: 2px dashed #444;
}

.inspectorTitle {
	font-size: 18px;
	padding: 8px;
	margin: 8px;
}

.inspectorBottomLine {
	background: #DDD;
	width: calc(100% - 8px);
	position: absolute;
	bottom: -2px;
	padding: 4px;
}

.button {
	height: 24px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: #888;
	float: right;
	min-width: 48px;
	border: 1px solid #aaa;
	border-radius: 4px;
	text-align: center;
	line-height: 24px;
}

.button:active {
	background: #555;
}

.inspectorShow {
	opacity: 1;
	-webkit-transform: translate3d(352px, 0, 0);
}

.inspectorHide {
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
}

.inspectorParam {
	margin: 8px;
}

.inspectorParamInput {
	float: left;
	width: 96px;
}

.inspectorParamUnit {
	margin: 8px;
	width: 48px;
	text-align: right;
}

.componentLabel {
	font-size: 13px;
	width: 64px;
	text-align: center;
}