.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}
.commandItem {
    padding: 2px;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
}
.commandType {
    font-size: 12px;
    color: #999;
    float: right;
    margin-right: 8px;
    line-height: 18px;
}
.hover {
    background: #DDD;
}
.wireEnd {
    position: absolute;
    cursor: crosshair;
    border: 4px solid #000;
    border-radius: 4px;
}
.component {
    position: absolute;
    pointer-events: none;
    -webkit-transform: rotate(0);
}
.componentHover {
    background: rgba(0, 0, 0, 0.1);
}
.inspectorTitle {
    font-size: 18px;
    padding: 8px;
    margin: 8px;
}
.inspectorBottomLine {
    /*  background: #DDD;*/
    
    width: calc(100% - 16px);
    position: absolute;
    bottom: -2px;
    padding: 8px;
}
.button {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #888;
    float: right;
    min-width: 48px;
    border: 1px solid #aaa;
    border-radius: 8px;
    text-align: center;
}
.button:active {
    background: #555;
}
.inspectorShow {
    opacity: 1;
    -webkit-transform: translate3d(352px, 0, 0);
}
.inspectorHide {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
}
.inspectorParam {
    float: left;
    margin: 8px;
}
.inspectorParamInput {
    float: right;
    width: 64px;
}
.inspectorParamUnit {
    margin: 8px;
    width: 32px;
    text-align: right;
    float: right;
}
.componentLabel {
    font-size: 13px;
    text-align: center;
    margin-top: 4px;
}
.terminal {
    position: absolute;
    pointer-events: all;
    cursor: pointer;
    width: 32px;
    height: 32px;
}
.terminalPoint {
    fill: #000;
    stroke: #000;
    stroke-width: 4;
    stroke-opacity: 0;
}
.graphics {
    pointer-events: none;
}
.wire {
    pointer-events: all;
    border: 4px solid #000;
}
.wire:focus {
    outline: 2px solid #999;
}
.bbox {
    pointer-events: all;
}
