#container {
	display: flex;
}

#content {
	width: 100%;
}

#inspector {
	position: absolute;
	min-height: 128px;
	width: 320px;
	background: #EEE;
	left: -320px;
	right: 0;
	top: 32px;
	border: 2px solid #DDD;
	border-radius: 4px;
	-webkit-transition: -webkit-transform 0.1s, opacity 0.2s;
}

#commandInput {
	width: 224px;
	padding: 8px;
	font-size: 16px;
}

#description {
	position: absolute;
	color: #DDD;
	width: 100%;
	top: 75%;
	text-align: center;
	font-size: 24px;
}

#searchResult {
	margin: 8px;
	padding: 0;
	list-style-type: none;
}

#commandpanel {
	position: absolute;
	width: 256px;
	height: 100%;
	background: #EEE;
	-webkit-transition: all 0.1s ease-in;
}

.slide {
	-webkit-transform: translate3d(-256px, 0, 0);
}