body {
  margin: 0;
  font-family: "Helvetica";
  height: 100%;
  cursor: default;
  overflow: hidden;
}

div {
  -webkit-user-select: none;
}

#container {
  display: flex;
}

#content {
  width: 100%;
  cursor: crosshair;
}

div.layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#rightmenu {
  position: absolute;
  width: 256px;
  height: 100%;
  background: #EEE;
  -webkit-transition: all 0.1s ease-in;
}

.slide {
  -webkit-transform: translate3d(-256px, 0, 0);
  -webkit-transition: all 0.1s ease-in;
}

#commandInput {
  margin: 8px;
  font-size: 16px;
  font-family: "Arial";
  background: #FAFAFA;
  outline: none;
  border: none;
  height: 16px;
  padding: 8px;
  width: 224px;
  display: block;
}

#description {
  position: absolute;
  color: #DDD;
  width: 100%;
  top: 75%;
  text-align: center;
  font-size: 24px;
}

#searchResult {
  margin: 8px;
  padding: 0;
  list-style-type: none;
}

li.commandItem {
  padding: 2px;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
}

span.commandType {
  font-size: 12px;
  color: #999;
  float: right;
  margin-right: 8px;
  line-height: 18px;
}

.hover {
  background: #DDD;
}

div.wireEnd {
  position: absolute;
  cursor: crosshair;
  border: 4px solid #444;
  border-radius: 4px;
}

div.wire {
  position: absolute;
  background: #444;
  height: 4px;
  width: 4px;
  cursor: crosshair;
}

div.component {
  position: absolute;
  padding: 16px;
  border: 1px solid #CCC;
  background: #FFF;
}
