body {
  margin: 0;
  font-family: "Arial";
  height: 100%;
  cursor: default;
  overflow: hidden;
}

#container {
  display: flex;
}

#content {
  width: 100%;
  cursor: crosshair;
}

#rightmenu {
  position: absolute;
  width: 256px;
  height: 100%;
  background: #DDD;
  -webkit-user-select: none;
  -webkit-transition: all 0.2s ease-in;
}

.slide {
  -webkit-transform: translate3d(-256px, 0, 0);
  -webkit-transition: all 0.2s ease-in;
}

#commands {
  margin: 8px;
  width: 100%;
  height: 100%;
  background: #EEE;
}

#commandInput {
  margin: 8px;
  font-size: 16px;
  font-family: "Arial";
  background: #EEE;
  outline: none;
  border: none;
  height: 16px;
  padding: 8px;
  width: 224px;
}

p.commandItem {
  padding: 2px;
  margin: 8px;
  background: #EEE;
  font-size: 14px;
}

div.wireEnd {
  position: absolute;
  cursor: crosshair;
  border: 4px solid #444;
  border-radius: 4px;
}

div.wire {
  position: absolute;
  background: #444;
  height: 4px;
  width: 4px;
  cursor: crosshair;
}
